:root{
    --gap:20px;
    --border-radius: 10px;
    --main-background: rgb(233, 233, 233);
    --card-background: white;
}

/* element resets */
img {
    height: 45px;
}

body {
    margin-top: 0px;
}

.bot-flex > .profile p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* general page layout */
.page-layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: 1fr; */
}

.page-layout > *{
    padding: 10px;
}

.sidebar {
    grid-row: 1 / 3;
}

.header {
    grid-column: 2 / 3;
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

/* sidebar layout */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar > div > div, .sidebar > .logo {
    display:flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

/* header layout */

#searchbar {
    width: max(300px, 40vw);
}

.searchbar > img {
    height: 30px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-flex, .bot-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-flex > div, .bot-flex > div {
    display: flex;
    align-items: center;
}

.top-flex > .profile {
    gap: 30px;
    font-size: 1.5rem;
}

#notif-icon {
    height: 30px;
}

.bot-flex > .profile p:last-child {
    font-size: 2rem;
}

.bot-flex > .profile > div {
    padding-left: 10px;
}

.create-btns {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: max(300px, 40vw);
}

.create-btns > div {
    background-color: #1892d3;
    border-radius: 30px;
    width: 100px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* main content layout */
.main-content .container * {
    margin: 0;
}
.main-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
    background-color: var(--main-background);
    padding: var(--gap);
}

.project-sect {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.announcement-sect {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.trending-sect {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.project-sect > .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: var(--gap);
    background-color: var(--main-background);
}

.project-sect .container > * {
    padding: var(--gap);
    border-radius: var(--border-radius);
    background-color: var(--card-background);
}

.project-sect .icons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.project-sect .icons img {
    height: 25px;
}